<search class="bg-white rounded-3xl p-4">
    <form>
        <div>
            <select class="py-4 border-b border-gray-300 text-gray-600">
                <option value="" disabled selected>Seleccionar Area</option>
                <option value="1">Comercial</option>
                <option value="2">Operaciones</option>
                <option value="3">Finanzas</option>
                <option value="4">RRHH</option>
            </select>
        </div>
        <div>
            <input
                placeholder="Algo para insertar aqui..."
                class="w-full py-4 border-b border-gray-300 text-gray-600"
            />
        </div>
        <div class="mb-8">
            <input
                placeholder="Segundo ingreso..."
                class="w-full py-4 text-gray-600"
            />
        </div>


    </form>
</search>