<section class="relative mt-[64px] mx-auto max-w-7xl px-4 bg-heroPattern bg-cover bg-center">
    
    <!-- Overlay con opacidad -->
    <div class="absolute inset-0 bg-black opacity-50"></div>
    
    <div class="relative text-white py-20 text-center">
        <h1 class="text-4xl font-bold">
            Web Developer & Cloud Solutions Architect | Specialized in Modern Applications and Cloud Infrastructure on AWS/Azure
        </h1>
    </div>
</section>
